@use "@/styles/tokens" as t;

@use "@/styles/mixins" as m;

.main { inline-size: min(100% - (t.$container-padding-mobile * 2), t.$content-max-width); margin-inline: auto; padding-block: t.$space-24 t.$space-64; }
@include m.respond-up("md") { .main { inline-size: min(100% - (t.$container-padding-tablet * 2), t.$content-max-width); padding-block-start: t.$space-32; } }
@include m.respond-up("lg") { .main { inline-size: min(100% - (t.$container-padding-desktop * 2), t.$content-max-width); } }
